## Review Questions

#### Determine the Data Type

Q04.01 Find the data type of ```a``` if ```a=9```

In [1]:
type(9)

int

Q04.02 Find the data type of ```a``` if ```a=9.```  (note the ```.``` after the number 9)

In [2]:
type(9.)

float

Q04.03 Find the data type of ```a``` if ```a='9.'```

In [3]:
type('9.')

str

Q04.04 Find the data type of ```a``` if ```a=(9)```

In [4]:
type((9))

int

Q04.05 Find the data type of ```a``` if ```a=False```

In [5]:
type(False)

bool

Q04.06 Find the data type of ```a``` if ```a=[1,2,3]```

In [6]:
type([1,2,3])

list

Q04.07 Find the data type of ```a``` if ```a=(1,2,3)```

In [7]:
type((1,2,3))

tuple

Q04.08 Find the data type of ```a``` if ```a={'key': 9}```

In [8]:
type({'key': 9})

dict

Q04.09 Find the data type of ```a``` if ```a=1 + 9j```

In [9]:
type(1 + 9j)

complex

#### Numeric Data Types

Q04.10 Set ```a=1``` and ```b=2```. What data type is ```a/b```?

In [10]:
a = 1
b = 2
type(a/b)  #a/b is a float

float

Q04.11 Set ```a=1``` and ```b=2```. What data type is ```a*b```?

In [11]:
a = 1
b = 2
type(a*b) # a*b is an int

int

Q04.12 What is ```5.1``` plus ```0 + 3j```? Complete this calculation by defining one variable as a floating point number and another variable as a complex number.

In [12]:
a = 5.1
b = 0 + 3j
a + b

(5.1+3j)

Q04.13 What floating point number converts to the boolean ```False```? Show this in code using the ```bool()``` function.

In [13]:
print(type(0.0))
bool(0.0)

<class 'float'>

False

Q04.14 Create the floating point number $0.001 \times 10^{-0.2}$ and assign it to the variable ```b```.

In [14]:
b = 0.001*10**(-0.2)
print(b)

0.0006309573444801933

Q04.15 Show that ```3e2``` is equivalent to ```3E2``` with the comparison operator ```==```

In [15]:
3e2 == 3E2

True

Q04.16 Euler's number, $e$, can be called in Python using the code below:

```
from math import e
```

(a) Round $e$ to the nearest integer. Store the result in a variable called ```x```.

(b) Round $e$ to the nearest 1000ths place (the nearest 0.001). Store the result in a variable called ```y```.

(c) Truncate the decimal portion of $e$ (remove the 0.71828.... portion) so you are left with the integer ```2```. Store the result in a variable called ```z```. Hint: convert $e$ to a string and use string slicing.

In [16]:
from math import e
# (a)
x = int(round(e,0))
print(x)

# (b)
y = round(e,3)
print(y)

# (c)
s = str(e)
s_trunc = s[0]
z = int(s_trunc)
print(z)

3
2.718
2

Q04.17 Define the complex number ```A``` using the code below:

```A = 4 + 2j```

(a) store the real component of ```A``` in a variable called ```real```.

(b) store the imaginary component of ```A``` in a variable called ```imaginary```.

(c) store the magnitude of ```A``` in a variable called ```mag```. The magnitude of an imaginary number is defined as:

$$ magnitude = \sqrt{(real)^2+(imaginary)^2} $$

In [17]:
A = 4 + 2j

# (a)
real = A.real
print(real)

# (b)
imaginary = A.imag
print(imaginary)

# (c)
magnitude = (real**2+imaginary**2)**0.5
print(magnitude)

4.0
2.0
4.47213595499958

#### Booleans

Q04.20 Predict the output if the lines ```n=5``` and ```(n<3) and (n<7)``` are run. Then run the the two lines of code.

In [18]:
# 5<3 is False, 5<7 is False, False and False is False
n=5
(n<3) and (n<7)

False

Q04.21 Predict the output if the lines of code below are run. Then run the code.

```python
>>> ans='Yes'
>>> ans=='Yes' or ans=='No'
```

In [19]:
# "Yes"=="Yes" is True, "Yes"=="No" is False, True or False is True
ans='Yes'
ans=='Yes' or ans=='No'

True

Q04.22 Pick a number ```n``` to make the following statement ```True```: ```(2<n) or (n==2+n)``` Then run the code to show your number works.

In [20]:
# n=3, since the logical operator is or, only one of the statements needs to be True.
n=3
print((2<n) or (n==2+n))

True

Q04.23 Pick a number ```n``` to make the following statement ```False```: ```not (n<6) and (n<4)``` Then run the code to show your number works.

In [21]:
# n=3, since both 3<6 and 3<4 are both False, n=5 works as well, since n<6 is False and n<4 is True
n = 3
print(not (n<6) and (n<4))
n = 5
print(not (n<6) and (n<4))

False
False

Q04.24 Add the integers ```1``` and ```0``` and convert the answer to a boolean. Add the boolean values ```bool(0) + bool(1)``` and compare the result.

In [22]:
a = bool(1+0)
b = bool(0)+bool(1)
a == b

True

Q04.25 Show that ```(n>5) and (n<=10)``` is equivalent to ```5 < n <= 10``` using the two different numbers for ```n```.

In [23]:
n = 6
print((n>5) and (n<=10)==(5 < n <= 10))
n = 10
print((n>5) and (n<=10)==(5 < n <= 10))

True
True

Q04.26 Show that ```(n<5) or (n>=10)``` is equivalent to ```not (5 <= n < 10)``` using the two different numbers for ```n```.

In [24]:
n = 15
print((n<5) or (n>=10) == ( not 5 <= n < 10))
n = -3
print((n<5) or (n>=10) == ( not 5 <= n < 10))

True
True

#### Strings

Q04.30 Define a string that contains the word $Problem$.

In [25]:
a = 'Problem'

Q04.31 Define one string as the word $Problem$ and define another string as the word $Solving$. Combine these two strings to make the statement $Problem \ Solving$.

In [26]:
a = 'Problem'
b = 'Solving'
c = a + ' ' + b
print(c)

Problem Solving

Q04.32 (a) Define a string that contains the number $8$ and a string that contains the number $5$. Combine these two strings with the plus operator ```+```.

 (b) Define an integer as the number $8$ and an integer as the number $5$ and combine these two integers with the plus operator ```+```
 
 (c) Explain why the output from (a) was different from the output of (b)
 
 (d) Multiply the string $8$ and the integer $5$ with the multiplication operator ```*```.  Compare the output to multiplying the integers $8$ and the integer $5$. Why is the output different?

In [27]:
#(a)
a = '8'
b = '5'
print(a+b)

#(b)
c = 8
d = 5
print(c+d)

#(c)
# two strings were added in part (a). The addition operator concatinates, or combines strings. the result is 85
# The addition operator adds integers, the result is 13

#(d)
f = '8'
g = 5
print(f*g)
h = 8
k = 5
print(h*k)
# The output is different, because the multiplication operator repeates a string, resulting is 8 repeated 5 times.
# The multiplication operator multiplies integers, resulting in the product 40.

85
13
88888
40

Q03.33 Complete the following index and slicing operations after ```word = 'Problem'``` is defined.

(a) Pull out the letter $P$ from ```word```

(b) Pull out the first three letters $Pro$ from ```word```

(c) Pull out the second through the fourth letters $rob$ from ```word```

(d) Pull out every other letter from ```word``` starting with $P$

(e) Use indexing and slicing to output ```word``` backward to produce $melborP$.

In [28]:
word = 'Problem'

#(a)
print(word[0])

#(b)
print(word[:3])

#(c)
print(word[1:4])

#(d)
print(word[0::2])

#(e)
print(word[::-1])

P
Pro
rob
Polm
melborP

Q04.34 Define the strings below:

 (a) Define string ```a``` as _coffee_,  define string ```b``` as _it's_, define string ```c``` as _hot!_ and define string ```d``` as , (a comma).
 
 (b) Combine the strings ```a```, ```b```, ```c``` and ```d``` to produce the string ```coffee, it's hot``` (notice the comma)
 
 (c) Print out the statement ```she said "coffee, it's hot"``` using the variables ```a```, ```b```, ```c``` and ```d```.

In [29]:
#(a)
a = "coffee"
b = "it's"
c = "hot!"
d =","

#(b)
f = a+d+" "+b+" "+c

#(c)
print(a+d+" "+b+" "+c)

coffee, it's hot!

Q04.35 Create the string ```path``` with the value _C:\\Users\\Maelle\\Documents_

In [30]:
path = "C:\\Users\\Maelle\\Documents"
print(path)

C:\Users\Maelle\Documents

Q04.36 Convert the string ```Problem``` to the list ```['P','r','o','b','l','e','m']``` without writing the list from scratch.

In [31]:
a = "Problem"
b = list(a)
print(b)

['P', 'r', 'o', 'b', 'l', 'e', 'm']

Q04.37 Use the string ```over board``` and slicing to produce the following words:

(a) ```over```

(b) ```board```

(c) ```oar```

In [32]:
s = "over board"

#(a)
print(s[:4])

#(b)
print(s[5:])

#(c)
print(s[6:9])

over
board
oar

Q04.38 Use the string ```rotten tomatoes``` and slicing to produce the following words:

(a) ```to```

(b) ```no```

(c) ```ten```

(d) ```oat```

In [33]:
s = "rotten tomatoes"

#(a)
print(s[7:9])

#(b)
print(s[5:9:3])

#(c)
print(s[3:6])

#(d)
print(s[1]+s[10:12])

to
no
ten
oat

#### Lists

Q04.40 Create a list that contains the numbers $1$, $2.9 \times 10^8$, and the word $game$.

In [34]:
l = [1,2.9e8,'game']

Q04.41 Create a list that contains the words $problem$, $solving$, $with$, $python$.

In [35]:
l = ['problem','solving','with','python']

Q04.42 Create a list with one value, the number $6$. Convert the list to a boolean with the ```bool()``` function. Next create a list with one value, the number $0$. Convert this list to a boolean and compare the result.

In [36]:
l = [6]
b1 = bool(l)
print(b1)

l = [0]
b2 = bool(l)
print(b2)

print(b1==b2)

True
True
True

Q04.43 Create an empty list. Convert the empty list to a boolean with the ```bool()``` function.

In [37]:
l = []
b = bool(l)
print(b)

False

Q04.44 Create a list with the letters $C$, $D$, and $R$. Pull the letters $C$ and $D$ out of your list with indexing.

In [38]:
l = ['C','D','R']
print(l[0:2])

['C', 'D']

Q04.45 Create a list with the numbers $1$ to $10$ (counting by ones). Use slicing to pull out the number $5$ from the list.

In [39]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[4])

5

Q04.46 Create a list with the numbers $1$ to $10$ (counting by ones). Use slicing to pull out all of the numbers $5$ or less.

In [40]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[:5])

[1, 2, 3, 4, 5]

Q04.47 Create a list with the numbers $1$ to $10$ (counting by ones). Use slicing to pull out all of the numbers $5$ and greater.

In [41]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[4:])

[5, 6, 7, 8, 9, 10]

Q04.48 Create a list with the numbers $1$ to $10$ (counting by ones). Use slicing to pull out all of the even numbers from the list.

In [42]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[1::2])

[2, 4, 6, 8, 10]

Q04.49 Create a list with the numbers $1$ to $10$ (counting by ones). Use slicing to pull out every odd number from the list.

In [43]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[::2])

[1, 3, 5, 7, 9]

Q04.50 Create a list with the numbers $1$ to $10$ (counting by ones). Use slicing to return the list in reverse order (the returned list starts with $10$ and ends with $1$).

In [44]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Q04.51 Create a list containing the values 1, 2, 5.6, and 9 in that order, and store it in a variable called ```x```.

In [45]:
x = [1,2,5.6,9]
print(x)

[1, 2, 5.6, 9]

#### Dictionaries

Q04.60 Create a dictionary called ```capitals``` that contains the states and state capitals. Include ```Washington```, capital ```Olympia``` and ```Oregon```, capital ```Salem```.

In [46]:
capitals = {'Washington':'Olympia','Oregon':'Salem'}
print(capitals)

{'Washington': 'Olympia', 'Oregon': 'Salem'}

Q04.61 Create a dictionary called ```capitals``` that contains the states and state capitals. Include ```Washington```, capital ```Olympia``` and ```Oregon```, capital ```Salem```. In the line after the dictionary is created add the state ```New York```, capital ```Albany```.

In [47]:
capitals = {'Washington':'Olympia','Oregon':'Salem'}
print(capitals)
capitals['New York'] = 'Albany'
print(capitals)

{'Washington': 'Olympia', 'Oregon': 'Salem'}
{'Washington': 'Olympia', 'Oregon': 'Salem', 'New York': 'Albany'}

Q04.62 Create a dictionary ```numbers = {'one':1, 'two':2, 'three':3}```. Pull out the number ```2``` by calling the key ```'two'```.

In [48]:
numbers = {'one':1, 'two':2, 'three':3}
print(numbers['two'])

2

Q04.63 Create a dictionary ```colors = {'red':'#FF0000', 'green':'#008000', 'blue':'#0000FF'}```. Pull out all the keys and add them to a list called ```colors_list``` with the ```.keys()``` method.

In [49]:
colors = {'red':'#FF0000', 'green':'#008000', 'blue':'#0000FF'}
colors_list = list(colors.keys())
print(colors_list)

['red', 'green', 'blue']

Q04.64 Create a dictionary ```colors = {'red':'#FF0000', 'green':'#008000', 'blue':'#0000FF'}```. Pull out all the values and add them to a list called ```colors_hex``` with the ```.values()``` method.

In [50]:
colors = {'red':'#FF0000', 'green':'#008000', 'blue':'#0000FF'}
colors_hex = list(colors.values())
print(colors_hex)

['#FF0000', '#008000', '#0000FF']

Q04.65 Create a dictionary ```colors = {'red':'	#FF0000', 'green':'#008000', 'blue':'#0000FF'}```. Pull out all the items from the dictionary and add them to a list called ```color_items``` with the ```.items()``` method.

In [51]:
colors = {'red':'#FF0000', 'green':'#008000', 'blue':'#0000FF'}
color_items = list(colors.items())
print(color_items)

[('red', '#FF0000'), ('green', '#008000'), ('blue', '#0000FF')]

Q04.66 Create a dictionary ```groups = {'solo':1, 'duo':2}```. Add the key ```'trio'``` and the corresponding value ```3```.

In [52]:
groups = {'solo':1, 'duo':2}
groups['trio']=3
print(groups)

{'solo': 1, 'duo': 2, 'trio': 3}

Q04.67 Create a dictionary ```groups = {'solo':1, 'duo':2}```. Then remove the key ```'duo'``` and the value ```2``` so that only ```'solo':1``` remains.

In [53]:
groups = {'solo':1, 'duo':2}
groups.pop('duo')
print(groups)

{'solo': 1}

Q04.68 Create a dictionary ```college = {'name': 'University of Oregon'}```. Add the following two keys: $abbreviation$, $mascot$ and the corresponding two values: $UofO$, $ducks$.

In [54]:
college = {'name': 'University of Oregon'}
college['abbreviation'] = 'UofO'
college['mascot'] = 'ducks'
print(college)

{'name': 'University of Oregon', 'abbreviation': 'UofO', 'mascot': 'ducks'}

#### Tuples

Q04.70 Create a tuple with the numbers $8$, $9$, and $10$.

In [55]:
t = (8,9,10)

Q04.71 Create a tuple that has a single entry, the number $10$.

In [56]:
t = (10,)

Q04.72 Create a list and a tuple that both contain the strings: $one$, $two$, and $three$.   Pull the word $two$ out of both the list and the tuple.

In [57]:
l = ['one','two','three']
t = ('one','two','three')

print(l[1])
print(t[1])

two
two

Q04.73 Create a list and a tuple that both contain the strings: $one$, $two$, and $three$. Try to substitute the number $2$ for the word $two$ in both the list and tuple using indexing (square brackets).

In [58]:
l = ['one','two','three']
t = ('one','two','three')

l[1]=2
print(l)

try:
    t[1]=2
except TypeError as e:
    print(e)
    print("Can not index into a tuple. A tuple is an immutable data structure")

['one', 2, 'three']
'tuple' object does not support item assignment
Can not index into a tuple. A tuple is an immutable data structure

Q04.74 Code the following lines:

```python
t1 = (9)
t2 = (9,)
t3 = ('9')
```

Use Python's ```type()``` function to find the object type of each variable.

In [59]:
t1 = (9)
t2 = (9,)
t3 = ('9')

print(type(t1)) # int
print(type(t2)) # tuple
print(type(t3)) # str

<class 'int'>
<class 'tuple'>
<class 'str'>

Q04.75 Create a tuple that returns ```True``` when converted to a boolean. Use the ```bool()``` function to demonstrate your tuple converts to ```True```.

In [60]:
t = (1,)
bool_t = bool(t)
print(bool_t)

True

Q04.76 Create a tuple that returns ```False``` when converted to a boolean. Use the ```bool()``` function to demonstrate your tuple converts to ```False```.

In [61]:
t = ()
print(type(t))
bool_t = bool(t)
print(bool_t)

<class 'tuple'>
False

#### Errors, Explanations, and Solutions

Q04.80 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
n = 503
n[2]
```

In [62]:
n = 503
n[2]

TypeError: 'int' object is not subscriptable

503 is an integer. Can't index or slice integers

In [63]:
n = '503'
n[2]

'3'

Q04.81 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
a = 321
b = 'go!'
c = a + b
```

In [64]:
a = 321
b = 'go!'
c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Can't add the interger 321 to the string 'go!'.

In [65]:
a = '321'
b = 'go!'
c = a + b

Q04.82 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
d = {one:1, two:2, three:3}
d[one]
```

In [66]:
d = {one:1, two:2, three:3}
d[one]

NameError: name 'one' is not defined

The key one has not been defined as a variable. The keys in the dictionary could be defined as strings to fix this error.

In [67]:
d = {'one':1, 'two':2, 'three':3}
d['one']

1

Q04.83 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
f = false
not f
```

In [68]:
f = false
not f

NameError: name 'false' is not defined

In [69]:
Keyword False must have a capital first letter. In the code above, false has a lowercase letter

SyntaxError: invalid syntax (<ipython-input-69-c076e4a1329d>, line 1)

In [70]:
f = False
not f

True

Q04.84 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
comp = 0.1 - 4.3i
comp + 5
```

In [71]:
comp = 0.1 - 4.3i
comp + 5

SyntaxError: invalid syntax (<ipython-input-71-65ee42c5c47e>, line 1)

Complex numbers in Python are defined using the letter j to indicate the imaginary term. The letter i was used to define a complex number in the code above.

In [72]:
comp = 0.1 - 4.3j
comp + 5

(5.1-4.3j)

Q04.85 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
tpl = (1,2,3)
tpl[1] = 20
```

In [73]:
tpl = (1,2,3)
tpl[1] = 20

TypeError: 'tuple' object does not support item assignment

A tuple is an immutable data structure. You can not change one of the elements in a tuple once it is defined. Changing the data type to a list fixes the error.

In [74]:
tpl = [1,2,3]
tpl[1] = 20

Q04.86 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
lst = [1,3,5]
lst[3]
```

In [75]:
lst = [1,3,5]
lst[3]

IndexError: list index out of range

Python indexing starts at 0 and ends at n-1. The list lst only contains 3 numbers, so the last index is 2.

In [76]:
lst = [1,3,5]
lst[2]

5

Q04.87 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
dict = ['key': 8, 'pair': 9]
dict['key']
```

In [77]:
dict = ['key': 8, 'pair': 9]
dict['key']

SyntaxError: invalid syntax (<ipython-input-77-5be67b24ee20>, line 1)

Variable dict is defined in the code above using the syntax to define a list, combined with the syntax used to define a dictionary. Defining dict as a dictionary fixes the error.

In [78]:
dict = {'key': 8, 'pair': 9}
dict['key']

8

Q04.88 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

```python
s = ['Problem Solving']
s[8:]
```

In [79]:
s = ['Problem Solving']
s[8:]

[]

The code runs error free and returns an empty list. Variable s is a list that only contains one value. Calling the index 0 will return the string 'Problem Solving'], all other indicies will return an empty list.

In [80]:
s = ['Problem Solving']
s[0]

'Problem Solving'